:root {
	font-family: "Ubuntu", "Roboto", Arial, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--tinted-green: #abddbc;
	--dark-blue: #061333;
}

::-moz-selection {
	background-color: var(--tinted-green);
	color: black;
}

::selection {
	background-color: var(--tinted-green);
	color: black;
}

.row {
	display: grid;
	grid-template-columns: 50% 50%;
}

.grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 900px) {
	.grid {
		grid-template-columns: 50% 50%;
	}
}

@media (max-width: 700px) {

	.row,
	.grid {
		grid-template-columns: auto;
	}
}

h1 {
	color: var(--dark-blue);
	font-weight: 700 !important;
}